main {
  max-width: 600px;
  margin: 1rem auto;
}

button {
  margin-bottom: 1rem;
}

.island {
  stroke: green;
  stroke-width: 0.5;
  fill: limegreen;
  fill-rule: evenodd;
  vector-effect: non-scaling-stroke;
}

.water {
  fill: dodgerblue;
}

@media print {
  .island {
    fill: none;
    stroke: black;
  }

  .water {
    fill: none;
  }

  .unprinted {
    display: none;
  }
}
